<!DOCTYPE html>
<html>
<head>
	<title>Pyrebase-Flask-Login</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a href="/"><h2 class="inactive underlineHover"> Sign In </h2></a>
    <h2 class="active">Sign Up </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{{ url_for('static', filename = 'user.png') }}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="http://127.0.0.1:5000/register" method="POST">
      <input type="text" id="name" class="fadeIn second" name="name" placeholder="Personal name/Organization name">
      <input type="email" id="login" class="fadeIn second" name="email" placeholder="email">
      <input type="password" id="password" class="fadeIn third" name="pass" placeholder="password">
        <input type="text" id="address1" name="address1" placeholder="Address Line 1" class="fadeIn fourth">
        <input type="text" id="address2" name="address2" placeholder="Address Line 2" class="fadeIn fourth">
        <input type="text" id="city" name="city" placeholder="City/Town" class="fadeIn fourth">
        <input type="text" id="state" name="state" placeholder="State / Province / Region" class="fadeIn fourth">
        <input type="text" id="zip" name="zip" placeholder="Zip / Postal Code" class="fadeIn fourth">
        <label for="isSponsored" class="fadeIn fourth">Sponsored?: </label>
        <input type="checkbox" id="isSponsored" name="isSponsored" value="is_sponsor" class="fadeIn fourth">
        <label for="account_type" class="fadeIn fourth">Account Type: </label>
        <select id="account_type" name="account_type" class="fadeIn fourth">
            <option value="customer">Customer</option>
            <option value="distributor">Distributor</option>
            <option value="donor">Donor</option>
        </select>
      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

  </div>
</div>
</body>
</html>